<div class="modal-dialog modal-lg" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Add robing</h2>
        </div>
        <div class="modal-body">
            <div class="col-md-12 d-flex justify-content-between">
                <div class="col-md-6 form-group pl-0 pr-1">
                    <label class="title">Part Name</label>
                    <input type="text" class="form-control input-text" name="devaningNo" />
                </div>
                <div class="col-md-6 form-group pr-0 pl-1">
                    <label class="title">Supplier</label>
                    <input type="text" class="form-control input-text" name="devaningNo" />
                </div>
            </div>
            <div class="col-md-12 form-group mt-2">
                <label class="title">Description</label>
                 <input type="text" class="form-control input-text" name="devaningNo" placeholder="Type your robing part" />
            </div>
            <div class="col-md-12 form-group mt-2">
                <label class="title">Choose type Robing</label>
                 <input type="text" class="form-control input-text" name="devaningNo" placeholder="Type your robing part" />
            </div>
        </div>
        <div class="modal-footer-action">
            <button type="button" class="btn btn-success" (click)=" save()">Commit</button>
            <button type="button" class="btn btn-primary" (click)=" closeModal()">Cancel</button>
        </div>
    </div>
</div>
