.container-unpacking {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    background-color: white;
    flex-direction: column;

    >div {
        width: 95%;
    }

    .unpacking-header {
        height: 20%;
        border: 1px solid;
        border-top: none;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;

        >div {
            height: 100%;
        }

        .upk-plan {
            width: 30%;
            border-right: 1px solid;

            .total-actual {
                width: 85%;
                height: 95%;
                font-size: 3rem;
                font-weight: 800;
                color: rgb(12, 0, 80);
                //  background-color: rgba(58, 128, 131, 0.418);
            }
        }

        .upk-current {
            width: 70%;
            height: 100%;

            .current {
                height: 100%;
            }

            .module-current {
                width: 60%;
                border-right: 1px solid;

                .module-current-value {
                    font-size: 3rem;
                    font-weight: 800;
                    color: rgb(12, 0, 80);
                }
            }

            .module-finish {
                width: 40%;

                .button-finish {
                    width: 95%;
                    height: 95%;
                    border-radius: 8px;
                    background: linear-gradient(#ffffff, #ffffff);
                    cursor: pointer;
                    border: 1px solid;
                    font-size: 3rem;
                    font-weight: 800;
                    color: rgb(12, 0, 80);
                    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
                }

                .button-finish:hover {
                    background: linear-gradient(hsl(140, 100%, 47%), #76ff81);
                    color: rgb(255, 255, 255);
                }
            }
        }
    }

    .unpacking-detail {
        height: 50%;
    }

    .card {
        height: 100%;
        overflow: auto;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

        p-table {

            tr {
                th {
                    font-weight: 900;
                    background-color: rgb(68, 143, 255);
                }

                td {
                    font-weight: 500;
                }
            }

        }
    }

    .unpacking-footer {
        border: 1px solid;
        border-bottom: none;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        height: 30%;

        .backno {
            height: 100%;
            border-right: 1px solid;
        }

        .backno-current {
            width: 35%;
            border-right: 1px solid;
            flex-direction: column;

            .backno-name {
                font-size: 1rem;
                font-weight: 800;
                color: rgb(12, 0, 80);
            }

            .backno-value {
                font-size: 2rem;
                font-weight: 800;
                color: rgb(12, 0, 80);
            }

            //----------
            .abc {
                font-size: 2rem;
                font-weight: 800;
                color: rgb(12, 0, 80);
            }
        }

        .backno-status {
            width: 30%;

            .backno-status-value {
                width: 100%;
                height: 100%;
                font-size: 3rem;
                font-weight: 800;
                color: rgb(12, 0, 80);
                animation: changBlue 1s infinite;
            }

            .backno-status-value.UPK {
                width: 100%;
                height: 100%;
                animation: changBlue 1s isnfinite;
            }

            .backno-status-value.UPK {
                width: 100%;
                height: 100%;
                animation: changRed 1s isnfinite;
            }

        }
    }
}
.upk-action{
    .add-robing{
        transition: transform 0.2s;
        border-right: 1px solid gray;
        background-color: rgb(242, 69, 69);
        color: white;
        cursor: pointer;
    }
    .upk-finish{
        transition: transform 0.2s;
        background-color: #4dca57;
        color: white;
        cursor: pointer;
    }
    .add-robing:hover{
        background-color: rgb(249, 60, 60);
        transform: scale(1.1);
        color: white;
    }
    .upk-finish:hover{
        background-color: #2a9532;
        transform: scale(1.1);
        color: white;
    }
}


.container-unpacking,
.container-unpacking>div,
.upk-plan,
.upk-current,
.total-actual,
.module-current,
.module-finish,
.button-finish,
.unpacking-footer,
.backno,
.backno-status-value {
    display: flex;
    justify-content: center;
    align-items: center;
}

.START {
    background-color: #00B0F0 !important;
}

.FINISH {
    background-color: #76ff81 !important;
}
.ROBING {
    background-color: #fe7d52 !important;
}

@keyframes changRed {
    0% {
        background-color: white;
    }

    25% {
        background-color: white;
    }

    50% {
        background-color: red;
    }

    75% {
        background-color: red;
    }

    100% {
        background-color: white;
    }
}

@keyframes changBlue {
    0% {
        background-color: white;
    }

    25% {
        background-color: white;
    }

    50% {
        background-color: #00B0F0;
        color: white;
    }

    75% {
        background-color: #00B0F0;
        color: white;
    }

    100% {
        background-color: white;
    }
}
.card::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.card::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.card::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}
