<div class="container-unpacking">
  <div class="unpacking-header">
    <div class="upk-plan">
      <div class="plan total-actual">123/150</div>
    </div>
    <div class="upk-current">
      <div class="current module-current">
        <div class="module-current-value">TMT-V1234</div>
      </div>
      <div class="current module-finish">
        <div class="button-finish">FINISH</div>
      </div>
    </div>
  </div>
  <div class="unpacking-detail">
    <div class="card">
      <p-table [value]="rowdata" [tableStyle]="{ 'min-width': '100%' }" [paginator]="true" [rows]="5"
        [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of
          {totalRecords} entries" [rowsPerPageOptions]="[10, 25, 50]">
        <ng-template pTemplate="header" class="header-p-table">
          <tr>
            <th>Unpacking No</th>
            <th>Module No</th>
            <th>Renban</th>
            <th>Suppiler No</th>
            <th>Shift No</th>
            <th>Working Date</th>
            <th>Plan Unpacking Date</th>
            <th>Act Unpacking Date</th>
            <th>Act Unpacking Date Finish</th>
            <th>Unpacking Type</th>
            <th>Unpacking Status</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowdata class="body-p-table">
          <tr>
            <td>{{ rowdata.unpackingNo }}</td>
            <td>{{ rowdata.moduleNo }}</td>
            <td>{{ rowdata.renban }}</td>
            <td>{{ rowdata.suppilerNo }}</td>
            <td>{{ rowdata.shiftNo }}</td>
            <td>{{ rowdata.workingDate }}</td>
            <td>{{ rowdata.planUnpackingDate }}</td>
            <td>{{ rowdata.actUnpackingDate }}</td>
            <td>{{ rowdata.actUnpackingDateFinish }}</td>
            <td>{{ rowdata.unpackingType }}</td>
            <td>{{ rowdata.unpackingStatus }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
          <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="unpacking-footer">
    <div class="backno backno-current">
      <div class="backno-name">Back No</div>
      <div class="backno-value">V567</div>
    </div>
    <div class="backno backno-status">
      <div class="backno-status-value">UPK</div>
    </div>
    <div class="backno backno-current">
      <div class="abc">L1-ABC123</div>
    </div>
  </div>
</div>