<div class="modal-dialog modal-lg" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Create Edit Devaning Container</h4>
        </div>
        <div class="modal-body">
            <div class="col-md-12 d-flex justify-content-between">
                <div class="col-md-6 form-group pl-0 pr-1">
                    <label class="title">Devaning No</label>
                    <input type="text" class="form-control input-text" name="devaningNo" [(ngModel)]="rowdata.devaningNo"/>
                </div>
                <div class="col-md-6 form-group pr-0 pl-1">
                    <label class="title">Container No</label>
                    <input type="text" class="form-control input-text" name="containerNo"  [(ngModel)]="rowdata.containerNo" />
                </div>
            </div>
            <div class="col-md-12 d-flex justify-content-between">
                <div class="col-md-6 form-group pl-0 pr-1">
                    <label class="title">Renban</label>
                    <input type="text" class="form-control input-text" name="renban" [(ngModel)]="rowdata.renban"/>
                </div>
                <div class="col-md-6 form-group pr-0 pl-1">
                    <label class="title">Suppiler</label>
                    <input type="text" class="form-control input-text" name="suppiler"  [(ngModel)]="rowdata.suppilerNo" />
                </div>
            </div>
            <div class="col-md-12 d-flex justify-content-between">
                <div class="col-md-6 form-group pr-0 pr-1">
                    <label class="title">Shift No</label>
                    <input type="text" class="form-control input-text" name="shiftNo"  [(ngModel)]="rowdata.shiftNo" />
                </div>
                <div class="col-md-6 form-group pl-0 pl-1">
                    <label class="title">Working Date</label>
                    <input type="text" class="form-control input-text" name="workingDate" [(ngModel)]="rowdata.workingDate"/>
                </div>
            </div>
            <div class="col-md-12 d-flex justify-content-between">
                <div class="col-md-6 form-group pr-0 pr-1">
                    <label class="title">Plan Dvn Date</label>
                    <input type="text" class="form-control input-text" name="planDvnDate"  [(ngModel)]="rowdata.planDevaningDate" />
                </div>
                <div class="col-md-6 form-group pl-0 pl-1">
                    <label class="title">Act Dvn Date</label>
                    <input type="text" class="form-control input-text" name="actDvnDate" [(ngModel)]="rowdata.actDevaningDate"/>
                </div>
            </div>
            <div class="col-md-12 d-flex justify-content-between">
                <div class="col-md-6 form-group pr-0 pr-1">
                    <label class="title">Devanning Type</label>
                    <input type="text" class="form-control input-text" name="devanningType"  [(ngModel)]="rowdata.devaningType" />
                </div>
                <div class="col-md-6 form-group pl-0 pl-1">
                    <label class="title">Devanning Status</label>
                    <input type="text" class="form-control input-text" name="devanningStatus" [(ngModel)]="rowdata.devaningStatus"/>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)=" save()">Save</button>
            <button type="button" class="btn btn-primary" (click)="closeModal()">Close</button>
        </div>
    </div>
</div>
