<div class="robing-container d-flex">
    <div class="robing-list h-100">
        <div class="robing-list-header w-100 ">
            <div class="robing-header-search w-100 d-flex justify-content-between">
                <div class="input-search h-100">
                    <input type="text" class="w-100 h-75 input-search-robing" placeholder="Search Item">
                    <button class="btn-search">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <div class="input-timenow h-100">
                    <input type="text" class="w-100 h-75 timenow-robing" placeholder="09:30AM Friday, 7 Aug 2020"
                        readonly>
                </div>
            </div>
            <div class="robing-header-statistic w-100 d-flex justify-content-between">
                <div class="header-statistic h-100 d-flex">
                    <div class="statistic statistic-today h-100 d-flex justify-content-center align-items-center">
                        <p>Robing Today</p>
                        <h3>1356</h3>
                        <span> <i class="fas fa-vr-cardboard"></i> +8.51%</span>
                    </div>
                    <div class="statistic statistic-today h-100 d-flex justify-content-center align-items-center">
                        <p>Part Fail</p>
                        <h3>1224</h3>
                        <span> <i class="fas fa-vr-cardboard"></i> +8.51%</span>
                    </div>
                    <div class="statistic statistic-today h-100 d-flex justify-content-center align-items-center">
                        <p>Part Loan</p>
                        <h3>56</h3>
                        <span> <i class="fas fa-vr-cardboard"></i> +8.51%</span>
                    </div>
                    <div class="statistic statistic-today h-100 d-flex justify-content-center align-items-center">
                        <p>Total robing</p>
                        <h3>2023</h3>
                        <span> <i class="fas fa-vr-cardboard"></i> +8.51%</span>
                    </div>
                </div>
                <div class="header-help h-100 d-flex justify-content-center">
                    <p>POLYTROX <br><span>Help Center <i class="fas fa-poll ml-1"></i></span></p>
                    <span>If you need help or <br> something wrong</span>
                </div>
            </div>
        </div>
        <div class="robing-list-detail w-100 ">
            <div class="robing-table w-100 h-100">
                <div class="table-header w-100 d-flex">
                    <div class="header-title">Part No</div>
                    <div class="header-title">Part Name</div>
                    <div class="header-title">Suppiler</div>
                    <div class="header-title">Type</div>
                </div>
                <div class="table-body w-100 mt-2">
                    <div class="list-item w-100 d-flex" *ngFor="let item of rowdata" (click)="onchangeSelection(item)"
                        [ngClass]="{'selected-background': selectedDiv === item}">
                        <div class="body-content"></div>
                        <div class="body-content"></div>
                        <div class="body-content"></div>
                        <div class="body-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="robing-detail h-100">
        <div class="robing-detail-content w-100 h-100">
            <div class="detail-content detail-list-item"></div>
            <div class="detail-content detail-item">
                <div class="detail-part">
                    <div class="title">RenBan</div>
                    <div class="content">102P</div>
                </div>
                <div class="detail-part">
                    <div class="title">Supplier</div>
                    <div class="content">TMI</div>
                </div>
                <div class="detail-part">
                    <div class="title">Robing Time</div>
                    <div class="content">01/11/2023</div>
                </div>
                <div class="detail-part">
                    <div class="title">Description</div>
                    <div class="content">Part fail, request exporter</div>
                </div>
            </div>
            <div class="detail-content detail-recommeded-module">
                <div class="recommeded w-100 mt-2 h-25">
                    <p>Recommeded Module</p>
                </div>
                <div class="recommeded-icon w-100 h-75 d-flex justify-content-end align-items-center">
                    <img src="/assets/common/images/recommeded.png" class="icon h-75" />
                    <p>Square Large Box</p>
                    <span>Dimension</span>
                </div>
            </div>
            <div class="detail-content detail-action d-flex justify-content-center align-items-center">
                <button class="request-give-back">Request Give Back</button>
            </div>
        </div>
    </div>
</div>
