<div class="pcstore-container">
    <div class="pcstore-header">
        <div class="header-name">
            <div class="name-screen">
                PC-STORE
            </div>
        </div>
        <div class="header-data">
            <div class="data-total part">
                <div class="icon-data">
                    <img src="/assets/common/images/part.png" class="icon" />
                </div>
                <h3>{{totalPart}}</h3>
                <p>Total Part</p>
            </div>
            <div class="data-total lot">
                <div class="icon-data">
                    <img src="/assets/common/images/lot.png" class="icon" />
                </div>
                <h3>{{totalLot}}</h3>
                <p>LOT</p>
            </div>
        </div>
    </div>
    <div class="pcstore-body">
        <div class="img-warehouse">
            <img src="/assets/common/images/pcstore.jpg" class="logo-warehouse" />
        </div>
        <div class="pcstore-table-data">
            <div class="pcstore-table w-100 h-75 mr-5">
                <div class="table-header w-100 d-flex">
                    <div class="header-title">Part No</div>
                    <div class="header-title">Part Name</div>
                </div>
                <div class="table-body w-100 mt-2">
                    <div class="list-item w-100 d-flex"
                        *ngFor="let item of rowdata;let i = index">
                        <div class="body-content">{{item.partNo}}</div>
                        <div class="body-content">{{item.partName}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
